name: Publish Docker Image
on:
  release:
    types:
      - published
  push:
    tags:
      - v[0-9]+.[0-9]+.[0.9]+-[abcehlprt]+.?[0-9]?[0-9]?
jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: tfgco/pusher
          tag_with_ref: true
